extend base

block content
  main.main
    .login-form
      h4.heading-secondary.ma-bt-lg reset password email will be sent 
      form.form.form--forgotpassword
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(name= 'email' type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Send email